@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

html,
head,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
}

.chart-area #container {
    width: 100%;
    height: 50vh;
}

.chart-area #bias-container {
    width: 100%;
    height: 50vh;
}

.header {
    background-color: #2b80ff;
    color: White;
    padding: 20px;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
}

.main {
    padding: 20px;
}

.highlight {
    background: linear-gradient(to top, rgb(200, 222, 255) 50%, transparent 50%);
}

a {
    color: inherit;
    text-decoration: none;
}

ion-icon {
    position: relative;
    top: 3px;
}

.card {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-bottom: 15px;
}

.card .title {
    font-size: 20px
}

.card .date {
    font-size: 15px;
}

.toggleBtn {
    width: 100vw;
    text-align: center;
    padding: 20px;
    padding-left: 0;
    font-size: 18px;
}

#biasScore {
    color: #2b80ff;
    font-weight: bold;
}

.alert {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    padding: 20px;
    padding-top: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.842), 0 1px 2px rgba(0, 0, 0, 0.788);
}

.alert h2 {
    color: rgb(255, 106, 106);
}

.alert button {
    background-color: #2b80ff;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border: none;
    margin-top: 15px;
    float: right;
    font-size: 18px;
}

footer {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

footer img {
    position: relative;
    top: 20px;
}